!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title MenuStrap
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "//cdn.jsdelivr.net/codemirror/3.14.0/codemirror.css", :rel => "stylesheet"}/
    :css
      textarea {
        min-height: 500px;
      }
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    %a{href: "https://github.com/SegFaultx64/MenuStrap"}
      %img{alt: "Fork me on GitHub", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", style: "position: absolute; top: 0; right: 0; border: 0;"}/
    .container
      .row
        .page-header
          %h1
            MenuStrap
            %small
              Yaml to Bootstrap 3 Navbar Generator
      .row
        .panel.panel-default
          .panel-heading
            Instructions
          .panel-body
            :markdown
              Just define the navbar you would like using Yaml and press generate. Below are a list of options you can use in the Yaml:

              * `brand`: The text that you would like to include in the brand area of the nav
              * `container`: can be `true` or `false`. This determines if the navbar's inner element should be wrapped in a container or not.
              * `items` and `right_items`: These are the actual items that you would like the navbar to have.
              * `url`: The url that you would like the nav item to point to
              * `name`: The text you would like displayed for the nav item
              * `icon`: The name of the glypicon you would like displayed next to the nav item.
              * `children`: Sub-items that can have the same parameters as the nav items themselves
      .row
        %h3
          Yaml
        %form{:role => 'form', :method => 'POST'}
          .form-group
            %textarea#yaml.form-control{:name => 'yaml'}= "" + @yaml
          .form-group
            %button.btn.btn-success{:type => 'submit'}
              Generate
      .row#nav
        %nav.navbar.navbar-default{role: "navigation"}
          - haml_tag_if(@container, :div, :class => 'container') do
            / Brand and toggle get grouped for better mobile display
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{href: "#"} #{@brand}
            / Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse.navbar-ex1-collapse
              %ul.nav.navbar-nav
                - @locations.each do |location|
                  - if location['children']
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#{location['url']}"} 
                        - if location['icon']
                          %i{:class => "glyphicon glyphicon-" + location['icon']}
                        #{location['name']}
                        %b.caret
                      %ul.dropdown-menu
                        - location['children'].each do |child|
                          %li
                            %a{href: "#{child['url']}"} #{child['name']}
                  - else
                    %li
                      %a{href: "#{location['url']}"}
                        - if location['icon']
                          %i{:class => "glyphicon glyphicon-" + location['icon']}
                        #{location['name']}
              %ul.nav.navbar-nav.navbar-right
                - @right_locations.each do |location|
                  - if location['children']
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#{location['url']}"} 
                        - if location['icon']
                          %i{:class => "glyphicon glyphicon-" + location['icon']}
                        #{location['name']}
                        %b.caret
                      %ul.dropdown-menu
                        - location['children'].each do |child|
                          %li
                            %a{href: "#{child['url']}"} #{child['name']}
                  - else
                    %li
                      %a{href: "#{location['url']}"}
                        - if location['icon']
                          %i{:class => "glyphicon glyphicon-" + location['icon']}
                        #{location['name']}
      .row
        %textarea#code.form-control
      %footer.row.footer
        %hr
        %h4.pull-left
          ©2013 Max Walker || 
          %a{:href => "https://twitter.com/intent/user?screen_name=ReluctantHipstr"}
            @ ReluctantHipstr 
        %h4.pull-right
          %a{:href => "http://packettide.com"}
            Packet Tide
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %script{:src=>"//cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/codemirror.min.js"}
    %script{:src=>"//cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/mode/yaml/yaml.min.js"}
    %script{:src=>"//cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/mode/htmlembedded/htmlmixed.min.js"}
    :javascript
      function betterTab(cm) {
        if (cm.somethingSelected()) {
          cm.indentSelection("add");
        } else {
          cm.replaceSelection(cm.getOption("indentWithTabs")? "\t":
          Array(cm.getOption("indentUnit") + 1).join(" "), "end", "+input");
        }
      }
      var myCodeMirror = CodeMirror.fromTextArea($('#yaml')[0], {"mode":"yaml", "indentWithTabs": false, "indentUnit": 2, extraKeys: { Tab: betterTab }});
      $('button').click(function() {
        myCodeMirror.toTextArea();
      });
      $(function () {
        $('#code').text($('#nav').html());
        var resultMirror = CodeMirror.fromTextArea($('#code')[0], {"mode":"html", "indentWithTabs": false, "indentUnit": 2});
      });


                   
